<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <link rel="stylesheet" href="/css/styleLogIn.css">
        <title>Log In</title>
</head>

<body>

    <%- include ("partials/Header.ejs") %>

        <div class="container-form">
            <div>
                <h1 class="titulo">Inicio de Sesión</h1>
            </div>
            <div class="container-form">
                <form action="login" method="POST" class="form login">
                    <div class="form-section">
                        <div class="errores">
                            <ul>
                                
                            </ul>
                        </div>
                        <label>
                            <input type="text" name="name" class="form-input name" placeholder="Nombre de usuario">
                        </label>
                        <% if(locals.errors && errors.name) {%>
                            <div class="text-danger" style="color: red">
                                <%= errors.name.msg%>
                            </div>
                            <% } %>
                    </div>
                    <div class="form-section">
                        <label>
                            <input type="password" name="password" class="form-input pass" placeholder="Contraseña">
                        </label>
                        <% if(locals.errors && errors.password) {%>
                            <div class="text-danger" style="color: red">
                                <%= errors.password.msg%>
                            </div>
                            <% } %>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                        </label>
                    </div>
                    <div class="form-section"> <a href="#">
                            <p>¿Olvidó su contraseña?
                        </a></p>
                    </div>
                    <div class="form-section">
                        <input type="submit" class="form-input-button" value="iniciar">
                    </div>
                    <div class="form-section">
                        <p>¡Quiero <a href="registro">registrarme!</a></p>
                    </div>
                    <!-- <div>Volver</div> -->
                </form>
            </div>
        </div>
        <script src="../../public/scripts/loginValidationFront.js" type="text/javascript"></script>
</body>

<%- include ("partials/Footer.ejs") %>

</html>