<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
		<link rel="stylesheet" href="/css/styleProductDetail.css" />
	</head>

	<body>
		<%- include ("partials/Header.ejs") %>

		<div class="contenedor_general">
			<div class="contenedor_imagen">
				<img class="imagen_producto" src="/img/products/<%= product.imagen %>" alt="" />
			</div>
			<div class="contenedor_detalle_producto">
				<h1 class="nombre_grande_producto">Nombre de producto: <%= product.nombre %></h1>
				<h2 class="precio_producto">$<%= product.precio %></h2>
				<br />
				<div class="cantidad">
					<button>-</button>
					<label for=""></label>
					<input type="text" />
					<button>+</button>
				</div>
				<br />
				<div class="botones">
					<button class="anadir">AÑADIR AL CARRITO</button>
					<br />
					<br />
					<button class="seguir">SEGUIR COMPRANDO</button>
					<br />
					<br />
					<button class="seguir"><a class="seguir" href="/product/edit/<%= product.id %>">EDITAR PRODUCTO</a></button>
				</div>
				<br />
				<br />
				<h2 class="nombre_pequeño_producto"><%= product.nombre %></h2>
				<br />
				<p>Descripción: <%= product.descripcion %></p>
				<br />
			</div>
		</div>
	</body>
	<%- include ("partials/Footer.ejs") %>
</html>
